@import ../../../styles/helpers

.title
    margin-bottom: 64px

    +m
        margin-bottom: 32px
.upcomming_mainContainer
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: space-between
    width: 100%
.wrapperSpinner
    position: relative
    width: 100%
    margin: 30px 0
.nftCard_container
        width: 300px !important

.top
    display: flex
    align-items: center
    // margin-bottom: 54px
    +m
        display: block
        margin-bottom: 32px

.stage
    +body-bold-1
    color: $neutrals4

.box
    margin-right: auto
    +m
        margin: 0 0 16px
    .dropdown
        min-width: auto
        margin-left: -24px
        +m
            display: inline-block